services:
  kong:
    image: kong:3.6
    container_name: govph-kong
    volumes:
      - ./gateway/kong.local.yml:/kong/declarative/kong.yml
    environment:
      KONG_DATABASE: "off"
      KONG_DECLARATIVE_CONFIG: /kong/declarative/kong.yml
    ports:
      - "8000:8000"

  # =====================
  # BFF – Citizen (Mobile)
  # =====================
  bff-citizen:
    build:
      context: .
      dockerfile: bff/bff-citizen/Dockerfile
    container_name: govph-bff-citizen
    ports:
      - "3000:3000"
    environment:
      NODE_ENV: local
      PORT: 3000
      FIREBASE_SERVICE_ACCOUNT_KEY: /repo/bff/bff-citizen/src/firebase-service-account.json

  # =====================
  # BFF – Admin (Web)
  # =====================
  bff-admin:
    build:
      context: .
      dockerfile: bff/bff-admin/Dockerfile
    container_name: govph-bff-admin
    ports:
      - "3004:3000"
    environment:
      NODE_ENV: local
      PORT: 3000

  sos-service:
    build: ./services/sos-service
    container_name: govph-sos
    ports:
      - "3001:3000"
    environment:
      PORT: 3000

  identity-service:
    build: ./services/identity-service
    container_name: govph-identity
    ports:
      - "3002:3000"
    environment:
      PORT: 3000

  geo-service:
    build: ./services/geo-service
    container_name: govph-geo
    ports:
      - "3003:3000"
    environment:
      PORT: 3000
